<div class="container">
    <div class="card shadow mb-4">
    <div class="card-body">
    <table class="table table-striped">
    <tr> <th>Id</th><th>Nom d'utilisateur</th><th >Role</th></tr>
    <tbody *ngFor="let user of users">
        <tr>
            <td>{{user.user_id}}</td>
            <td>{{user.username}}</td>
           <td >
            <ul>
                <li *ngFor="let role of user.roles">{{role.role}}</li>
            </ul>
           </td>
           
            <td><a *ngIf="authService.isAdmin()" class="btn btn-success" [routerLink]="['/updateUser',user.user_id]">Modifier</a></td>
            <td><a  *ngIf="authService.isAdmin()" (click)="supprimerUser(user)" class="btn btn-danger">Supprimer</a></td>
        </tr>
        </tbody>
    </table>
    </div>
    </div>
    </div>
            
   